<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->
<h3><%= pluralize(@category.posts.count, 'Post') %></h3>
<%# something like --> 5 Posts  or 1 Post %>
<ul>
  <% @category.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>

<%# the array-like object returned when calling @category.posts is called the CollectionProxy %>